[uwsgi]
chdir = {{ alerta_server_path }}
mount = {{ alerta_server_api_endpoint }}=alertad-uwsgi.py
callable = app
manage-script-name = true
env = BASE_URL={{ alerta_server_api_endpoint }}

master = true
processes = 5
#logger = syslog:alertad

{% if alerta_server_uwsgi_mode == 'socket' -%}
socket = {{ alerta_server_socket }}
chmod-socket = {{ alerta_server_chmod_socket }}
uid = {{ alerta_server_user }}
gid = {{ alerta_server_user }}
{% elif alerta_server_uwsgi_mode == 'http-socket' -%}
http-socket = {{ alerta_server_listen_address }}
{% endif %}
plugins = python3
vacuum = true

die-on-term = true
